@page "/"
@using Plugins;
@using Microsoft.ML.Tokenizers;
@using SummaryWebApp.Services;
@using SummaryWebApp.Models;
@using SummaryWebApp.Contracts;
@inject IChatService chatService;
@inject ITokenizerService tokenizerService;

<PageTitle>Summarize</PageTitle>

<h1>Welcome to the summary app!</h1>

<div class="chat-container">
    <div class="settings-container">
        <div class="left-group">
            <label for="tokenLabel">Max Output Length</label>
            <input type="range" min="10" max="200" id="outputLenId" @bind="outputLen">
            <span>@outputLen</span>
        </div>
        <div class="right-group">
            <label for="topicLabel">Topic Name</label>
            <InputSelect @bind-Value="topicSelect" id="topicSelectId">
                @foreach (var opt in Enum.GetValues(typeof(Topic)))
                {
                    <option>@opt</option>
                }
            </InputSelect>
        </div>
    </div>
    <div class="message-display">
        @foreach (var message in messages)
        {
            if (message.IsSent)
            {
                <div class="sent-message">
                    @message.Text
                </div>
            }
            else
            {
                <div class="received-message">
                    @message.Texts[message.CurrIndex]
                    <hr>
                    <div class="left-group">
                        <button class="btn btn-secondary" @onclick="() => RegenerateLastMessage(message)">&#8635;</button>
                        @if (message.Texts.Count > 1)
                        {
                            <button class="btn btn-secondary" @onclick="() => PrevPage(message)">&lt</button>
                            <button class="btn btn-light" disabled="true">@(@message.CurrIndex + 1) / @message.Texts.Count</button>
                            <button class="btn btn-secondary" @onclick="() => NextPage(message)">&gt</button>
                        }
                        <p class="right-group">@DateTime.Now</p>
                    </div>
                </div>
            }
        }
    </div>

    <EditForm Model="this" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="input-container">
            <InputText @bind-Value="userMessage" @oninput="GetLiveCount" placeholder="Type your message..." class="message-input" />
            <button type="submit" class="btn btn-primary">Send</button>
        </div>
    </EditForm>
    <div>
        Input token count: @inputTokenCount
    </div>
</div>



